
{% if filterForm is defined %}
    <div class="ad-js-filter-form">
        {% form_theme filterForm 'ArturDoruchBootstrapBundle:Form:bootstrap_3_inline.html.twig' %}
        {{ form_start(filterForm) }}

        <div class="button-widgets">
            {{ form_widget(filterForm.reset, {icon: 'remove' }) }}
            {{ form_widget(filterForm.filter, {icon: 'search' }) }}
        </div>
        <div class="limit-widget">
            {{ form_label(filterForm.limit) }}
            {{ form_widget(filterForm.limit) }}
        </div>
        <div class="custom-widgets">
            {{ form_rest(filterForm) }}
        </div>
        {{ form_end(filterForm) }}
    </div>
{% endif %}