{% if filterTableForm is defined %}
    <div class="ardo-filter-table-form">
        {% form_theme filterTableForm 'ArturDoruchBootstrapBundle:Form:bootstrap_3_inline.html.twig' %}
        {{ form_start(filterTableForm) }}

        <div class="button-widgets">
            {% if filterTableForm.reset is defined %}
                {{ form_widget(filterTableForm.reset, {icon_class: 'remove' }) }}
            {% endif %}
            {{ form_widget(filterTableForm.filter, {icon_class: 'search' }) }}
        </div>
        <div class="limit-widget">
            {{ form_label(filterTableForm.limit) }}
            {{ form_widget(filterTableForm.limit) }}
        </div>
        <div class="custom-widgets">
            {{ form_rest(filterTableForm) }}
        </div>
        {{ form_end(filterTableForm) }}
    </div>
{% endif %}